
body{
	font-family:"Segoe UI";
	background-color:#202020;

}
body, .text_input {
 
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  min-width: 70vh;
  margin-left: (5rem );
}

#text_input_decryption{
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  min-width: 70vh;
  margin-left: (5rem );

}

body, .text_out {
 
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  margin-top: calc(2rem);
}

#open_inscription{
  text-align:left;
	color:#FFFFFF;
  display:inline;
}

#open_key_field {
  display: block;

  min-width: 50vh;
  min-height: 5vh;
  
}

#private_inscription{
  text-align:left;
	color:#FFFFFF;
  display:inline;
}

#private_key_field {
  display: block;
  min-width: 50vh;
  min-height: 5vh;
  
}

.button {
  position: absolute ;
  min-height: 5vh;
  min-width: 10vh;
  margin-left: calc(2rem + 2px);
}

#asym_cipher {
  position: absolute ;
  min-height: 5vh;
  min-width: 10vh;
  margin-left: calc(2rem + 120px);
}
#asym_decryption {
  position: absolute ;
  min-height: 5vh;
  min-width: 10vh;
  margin-left: calc(2rem + 275px);
}

#Asymmetrically{
  position: absolute ;
  min-height: 5vh;
  min-width: 10vh;
  margin-left: calc(2rem + 2px);
}

h1, #motto{
	text-align:center;
	color:#FFFFFF;
	
}

a{
	color:#cdd4ca;

}

mark{
	background-color:#FFA500;
}
span{
  background-color:#FFA500;
	border: 2px solid #FFA500;
	border-radius: 5px;

}
nav ul{
	display:flex;
	justify-content:space-around;
	background-color: #252525;
	height: 40px;
	padding-top:20px;
	border-style: dotted;
}
